/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* {
	margin: 0;
	padding: 0;
}

body {
	font: 14px/1.4 Tahoma, serif;
	background-color: #686060;
}

#page-wrap {
	max-width: 800px;
	margin: 0 auto;
	background-color: white;
	padding: 40px;
}

textarea {
	border: 0;
	font: 14px Tahoma, Serif;
	overflow: hidden;
	resize: none;
}

input, #total {
	height: 30px;
	border: none;
}

table {
	border-collapse: collapse;
}

table td, table th {
	border-bottom: 1px solid lightgray;
}

table th {
	background-color: lightgray;
	height: 50px;
	border-color: lightgrey;
	border-left: none;
	border-top: none;
	border-right: none;
}

.table {
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 10px 50px #ccc, 0 0 13px #ccc;
}

#date {
	text-align: center;
	margin-bottom: 20px;
}

#header {
	height: 15px;
	width: 100%;
	margin: 20px 0;
	background: white;
	text-align: center;
	color: black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font: bold 15px Helvetica, Sans-Serif;
	letter-spacing: 20px;
	padding: 8px 0;
	text-transform: uppercase;
}

#datas {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 40px;
}

#address {
	width: 200px;
	height: 90px;
	padding: 10px;
	border: 1px dashed black;
	border-radius: 10px;
}

#customer {
	width: 200px;
	height: 90px;
	padding: 10px;
	overflow: hidden;
	border: 1px dashed black;
	border-radius: 10px;
}

#image {
	width: 13em;
}

#customer-title {
	width: 100%;
	height: 100%;
	float: left;
}

#items {
	width: 100%;
}

.item-row input {
	font-size: 14px;
}

td.item-count, td.item-cost, td.item-price {
	width: 60px;
	padding: 0;
}

td.item-name {
	width: 400px;
	padding: 0;
}

td.item-unit, td.item-qty, td.item-discount {
	width: 25px;
	padding: 0;
}

.name {
	width: 100%;
}

.count, .unit, .qty, .discount, .cost, .price, #total, #dds, #grand-discount, #grand-total {
	text-align: center;
	width: 100%;
}

#address, .price, .count, #total, #grand-total {
	pointer-events: none;
}

#grand-total {
	background-color: lightgray;
	font-weight: bold;
	font-style: oblique;
	font-size: 16px;
	border-top: 1px solid lightgray;
	border-bottom-left-radius: 10px;
	border-bottom: none;
}

.grand-total-value {
	border-bottom: none;
}

.grayed {
	background-color: lightgray;
	font-style: oblique;
	padding-left: 10px;
}

textarea:hover, textarea:focus, input:hover, input:focus {
	background-color: #EEFF88;
}

.delete-wpr {
	position: relative;
}

.delete {
	display: block;
	color: rgba(207, 6, 6, 0.3);
	text-decoration: none;
	position: absolute;
	background: rgba(255, 124, 124, 0.3);
	font-weight: bold;
	padding: 0 3px;
	/* border: 1px solid; */
	border-radius: 50%;
	top: 0;
	left: 0;
	font-family: Verdana;
	font-size: 12px;
	z-index: -1;
}

.delete:hover {
	color: rgba(207, 6, 6, 1);
	background: rgba(255, 124, 124, 1);
}

#hiderow td {
	text-align: center;
}

#addrow {
	background: rgb(161, 255, 124);
	font-weight: bold;
	padding: 0 3px;
	border: 2px solid rgb(161, 255, 124);
	border-radius: 5%;
	font-family: Verdana;
	font-size: 25px;
	text-decoration: none;
	color: rgb(56, 190, 3);
	width: 45px;
	height: 45px;
	line-height: 45px;
	display: inline-block;
	text-align: center;
}

#addrow:hover {
	background: rgb(73, 243, 6);
	border: 2px solid rgb(73, 243, 6);
}

.blank {
	border-left: none;
	border-bottom: none;
	border-top: none;
}

.signature-client, .signature-owner {
	/* background-color: aqua; */
	margin-top: 70px;
	height: 20px;
	width: 20%;
	display: inline-block;
	border-bottom: 2px solid lightgray;
}

.signature-client::after {
	content: "подпис клиент";
	position: relative;
	top: 20px;
	color: #686060;
}

.signature-owner::after {
	content: "подпис доставчик";
	position: relative;
	top: 20px;
	color: #686060;
}

.signatures {
	display: flex;
	justify-content: space-around;
	width: 800px;
}